@import "../../../styles/abstracts/all.scss";

.navbar-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: #303030;
  z-index: 1000;

  padding: 10px 20px;

  .vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  > div {
    height: 100%;
    max-width: $breakPointXL;
    margin-left: auto;
    margin-right: auto;
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 50px) 100px calc(50% - 50px) 0;

    @include media-md-less {
      grid-template-columns: calc(50% - 50px) 100px calc(50% - 92px) 40px;
    }

    .logo-container {
      text-align: center;
      @include media-md-less {
        text-align: right;
      }

      svg {
        width: 100px;
      }
    }

    .link-container {
      text-align: center;

      > div {
        height: 24px;
        &:nth-child(1) {
          @include media-md-less {
            display: none;
          }
        }
      }

      a {
        color: #fff;
        font-size: 18px;

        + a {
          margin-left: 30px;
        }
      }
    }
    .banderitas-container {
      padding-top: 8px;

      &:not(.right) {
        padding-right: 30px;
        @include media-md-less {
          padding-right: 20px;
        }
      }

      @include media-md-less {
        padding-top: 24px;
      }

      > div {
        width: 100%;
        height: 18px;
        background-image: url("img/banderitas.png");
        background-position: right top;
        background-size: auto 18px;
        background-repeat: repeat-x;
      }

      &.right {
        padding-left: 30px;

        @include media-md-less {
          padding-left: 20px;
          padding-right: 10px;
        }

        > div {
          background-position: left top;
        }
      }
    }
    .menu-container {
      svg {
        fill: #fff;
      }
    }
  }
}
