@import "../../../styles/abstracts/all.scss";

.club-gordelicias {
	padding-top: 30px !important;

	img {
		display: block;
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}