@import "../../../styles/abstracts/all.scss";

.menu {
  .grid-title {
    margin-bottom: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 700px;
    margin: 60px auto 0 auto;

    > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    svg {
      display: block;
      margin: 0 auto;
      width: 80%;
    }
  }
  div.link-container {
    text-align: center;
    a {
      display: inline-block;
      font-family: CutenesMonster;
      font-size: 30px;
      color: #ffffff;
      padding: 10px 20px;
      margin-top: 30px;
      border-radius: 16px;
      background-color: var(--color-primary);
    }
  }
}
