@import "../../../styles/abstracts/all.scss";
.ingredients-container {
  margin: 40px 0;
  background-image: url("img/fondo-azul.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  // overflow-x: clip;
  overflow: hidden;

  .scroll-panel .panel {
    position: relative;
    height: 140vh;

    @include media-lg-greater {
      // height: 100vh;
    }
  }

  .text-container {
    position: absolute;
    z-index: 1;

    @include media-lg-greater {
      top: 60px;
      left: 0px;
      max-width: 550px;
    }

    @include media-lg-less {
      padding: 30px 20px 0 20px;
      top: -84px;
      left: -20px;
      right: -20px;
      background: linear-gradient(180deg, rgba(65, 164, 158, 1), rgba(65, 164, 158, 0));
    }

    .title {
      font-weight: bold;
      font-size: 40px;
      color: rgb(255, 169, 56);
      text-shadow: -3px 0px 0px #ffffff;

      @include media-lg-less {
        font-size: 30px;
      }
    }

    p {
      color: #fff;
      font-weight: 300;
      text-shadow: 0 0 6px rgba(65, 164, 158, 1);

      @include media-md-greater {
        font-size: 24px;
      }

      @include media-md {
        font-size: 22px;
      }
    }
  }

  img {
    position: absolute;

    &.ingredients {
      @include media-lg-less {
        top: 200px;
        left: calc(50% - 27vh);
        height: 88vh;
      }

      @include media-lg-greater {
        top: -40px;
        left: calc(50% - 6vh);
        height: 110vh;
      }
    }
    &.gordita {
      @include media-lg-less {
        left: calc(50% - 28vh);
        height: 32vh;
        bottom: -25vh;
      }

      @include media-lg-greater {
        bottom: -25vh;
        left: calc(50% - 14vh);
        height: 40vh;
      }
    }
  }
}
