@import "../../../styles/abstracts/all.scss";

.product-text {
  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;

    max-width: 800px;
    margin: 30px auto 0 auto;

    @include media-md-less {
      margin-top: 24px;
    }
  }

  .product-title {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 370px;

    @include media-sm {
      max-width: 200px;
    }
    @include media-md {
      max-width: 280px;
    }
    @include media-md {
      max-width: 310px;
    }
  }
  
  p {
    color: #fff;
    font-weight: 300;

    @include media-md-greater {
      font-size: 24px;
    }

    @include media-md {
      font-size: 22px;
    }
  }
}
