@import "../../../styles/abstracts/all.scss";

.schedules {
  .title {
    margin-bottom: 60px;
    text-align: center;
    svg {
      height: 50px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    max-width: 800px;
    margin: 40px auto 0 auto;

    @include media-lg-less {
      grid-template-columns: auto;
      grid-gap: 60px;
    }

    > div {
      text-align: center;

      @include media-sm {
        + div {
          margin-top: 20px;
        }
      }
    }
  }
  .subtitle {
    margin-bottom: 16px;
    svg {
      height: 36px;

      @include media-sm{
        max-width: 290px;
      }
    }

    &.mercado {
      svg {
        height: 44px;
      }
    }
  }
  p {
    color: #fff;
    + p {
      padding-top: 4px !important;
    }
  }
  .link-container {
    a {
      display: inline-block;
      font-family: CutenesMonster;
      font-size: 30px;
      color: #ffffff;
      padding: 10px 20px;
      margin-top: 30px;
      border-radius: 16px;
      background-color: var(--color-primary);
    }
  }
}
