@use '../../../styles/abstracts/functions.scss' as *;
@use '../../../styles/abstracts/mixins.scss' as *;
@use '../../../styles/abstracts/tokens.scss' as *;

.scroll-panel {
  overflow: initial;

  .panel {
    position: relative;
    z-index: $zIndexSticky;
  }
}
