@import "../../../styles/abstracts/all.scss";
body {
  background-image: url("img/gray-background.jpg");
  background-color: #111111;
  background-position: center top;
  background-size: 100% auto;
}
