@use '../../../styles/abstracts/functions.scss' as *;
@use '../../../styles/abstracts/mixins.scss' as *;
@use '../../../styles/abstracts/tokens.scss' as *;

.find-us {
  iframe {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin: 40px auto 0 auto;
  }
}