@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("https://fonts.gstatic.com/l/font?kit=memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVfS2svGaA3Yaho4Bw-mJJJpWfBgrTz_LyXLTynQ&skey=62c1cbfccc78b4b2&v=v26")
    format("woff2");
}
@font-face {
  font-family: Monteral;
  src: url("/src/assets/fonts/ff-monteral-02.otf") format("opentype");
}

@font-face {
  font-family: Hunters;
  src: url("/src/assets/fonts/Hunters.otf") format("opentype");
}

@font-face {
  font-family: RifficFree;
  src: url("/src/assets/fonts/RifficFree-Bold.ttf") format("truetype");
}

@font-face {
  font-family: CutenesMonster;
  src: url("/src/assets/fonts/CutenesMonster.otf") format("opentype");
}

@font-face {
  font-family: AllerBold;
  src: url("/src/assets/fonts/Aller_BdIt.ttf") format("truetype");
}